# This is a comment.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.

/.travis.yml  @cclauss @dhruvmanila

/.pre-commit-config.yaml  @cclauss @dhruvmanila

/.github/  @cclauss

# /arithmetic_analysis/

# /backtracking/

# /bit_manipulation/

# /blockchain/

# /boolean_algebra/

# /cellular_automata/

/ciphers/  @cclauss

# /compression/

# /computer_vision/

/conversions/  @cclauss

/data_structures/  @cclauss

# /digital_image_processing/

# /divide_and_conquer/

# /dynamic_programming/

# /file_transfer/

# /fuzzy_logic/

# /genetic_algorithm/

# /geodesy/

# /graphics/

# /graphs/

# /greedy_method/

# /hashes/

# /images/

# /linear_algebra/

# /machine_learning/

# /maths/

# /matrix/

# /networking_flow/

# /neural_network/

/other/  @cclauss

/project_euler/  @dhruvmanila

# /quantum/

# /scheduling/

# /scripts/

# /searches/

# /sorts/

/strings/  @cclauss

# /traversals/

/web_programming/  @cclass
