[flake8]
max-line-length = 88
# max-complexity should be 10
max-complexity = 19
extend-ignore =
    # Formatting style for `black`
    # E203 is whitespace before ':'
    E203,
    # W503 is line break occurred before a binary operator
    W503
