beautifulsoup4
fake_useragent
imageio
keras
lxml
matplotlib
numpy
opencv-python
pandas
pillow
projectq
qiskit
qiskit-aer
requests
rich
scikit-fuzzy
scikit-learn
statsmodels
sympy
tensorflow
texttable
tweepy
xgboost
yulewalker
