beautifulsoup4
fake_useragent
keras
lxml
matplotlib
numpy
opencv-python
pandas
pillow
PyOpenGL
PyOpenGL_accelerate
qiskit
requests
scikit-fuzzy
sklearn
statsmodels
sympy
tensorflow
types-requests
xgboost
