body{
font: 15px/1.5 Arial, Helvetica, sans-serif;
padding:5px;
background-color: #7d7791;
}

.container{
width: 100%;
margin: auto;
overflow:hidden;
}

header{
background: #3e475c;
border-bottom:#3a354a 3px solid;
height:120px;
width:100%;
padding-top:30px;
}

#name{
	float:left;
	font-size:30px;
	color: #fff;
	margin: 10px;
}

header h2{
	text-align:center;
	color:#fff;
}

.btn-info {background-color: #2196F3;
	height:40px;
	width:100px;} /* Blue */
.btn-info:hover {background: #0b7dda;}

.results{
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px;
    width: 200px;
    height: 150px;
}