click==6.7
Flask==1.0.2
Flask-WTF==0.14.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
vaderSentiment==3.2.1
six==1.11.0
Werkzeug==0.14.1
WTForms==2.2.1
nltk>=3.4.5
scikit-learn>=0.18
requests
