REQUIREMENTS
-----------------------------

1.  python interpretor in Windows, terminal will work in Mac & Linux
2.  libraries (many libraries used are installed by default)
    recommand to install libraries only if you get errors regarding in
      # os library
      pip install os-win
      # pickle library
      pip install pickle
3.  you must download whole contacts folder & make sure not to change any file, folder or their name
#.  make sure to check docs/errors.txt if you ran out in any error